{% extends 'base.html.twig' %}

{% block title %}Votre panier Phone-B&B{% endblock %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Votre Panier</h1>
        </div>
    </section>

    <div class="container mb-4">
        {% if items | length > 0 %}
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col"> </th>
                                <th scope="col">Produit</th>
                                <th scope="col">Disponibilité</th>
                                <th scope="col" class="text-center">Quantité</th>
                                <th scope="col" class="text-right">Prix</th>
                                <th> </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                                <tr>
                                    <td><img src="{{ item.product.image }}" /> </td>
                                    <td>{{ item.product.name }}</td>
                                    <td>En stock</td>
                                    <td><input class="form-control" type="text" value="{{ item.quantity }}" /></td>
                                    <td class="text-right">{{ item.product.price }}</td>
                                    <td class="text-right"><a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a> </td>
                                </tr>
                                <tr>
                                    <td>{{ item.product.name }}</td>
                                    <td></td>
                                    <td>Quantité :{{ item.quantity }}</td>
                                    <td>Prix Unitaire :{{ item.product.price }}€</td>
                                    <td>Sous-Total</td>
                                    <td class="text-right">{{ item.product.price * item.quantity }}€</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>Frais de port</td>
                                    <td class="text-right">6,90 €</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ item.product.discount }}%</td>
                                    <td><strong>Total</strong></td>
                                    <td class="text-right"><strong>{{ total }}</strong></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col mb-2">
                    <div class="row">
                        <div class="col-sm-12  col-md-6">
                            <button class="btn btn-block btn-light">Continuer vos achats</button>
                        </div>
                        <div class="col-sm-12 col-md-6 text-right">
                            <button class="btn btn-lg btn-block btn-success text-uppercase">Commander</button>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <p>Votre panier est malheureusement vide, il est temps de le remplir !</p>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a href="#" class="btn btn-info btn-block">
                        <i class="far fa-hand-point-left"></i>
                        Retour vers la liste des produits
                    </a>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
