<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand ml-5 h1" href="{{ path('admin_products_index') }}">Phone-B&B</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end ml-5" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-chart-line"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_products_index') }}">
                        <i class="fab fa-product-hunt"></i>
                        Produits
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="far fa-comments"></i>
                        Commentaires
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-shopping-cart"></i>
                        Ventes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-users"></i>
                        Utilisateurs
                    </a>
                </li>
            </ul>



            <ul class="navbar-nav float-right pl-3">

                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                            <img src="{{ app.user.picture }}" class="avatar avatar-mini w-25 rounded-circle" alt="Avatar de {{ app.user.fullName }}"/>
                            {{ app.user.fullName }}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">

                            <a href="{{ path('admin_account_logout') }}" class="dropdown-item">
                                <i class="fas fa-sign-out-alt"></i>
                                Déconnexion
                            </a>
                            <hr/>
                            <a href="{{ path('homepage') }}" target="_blank" class="dropdown-item">
                                <i class="fas fa-eye"></i>
                                Voir le site
                            </a>
                        </div>
                    </li>

                {% endif %}

            </ul>
        </div>
    </div>
</nav>